 #buttone{
    background-color: #666;
    border: none;
    color: #000;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }
 #buttone:hover{
    background-color: #fff;
 }
 


  h1 {
     font-family: 'Magnolia Sky', sans-serif;
     font-size: 45px;
     /*margin-top: 120px;*/
     /* text-align: center;*/ 
     color: #fff;
 }
 h2 {
     font-family: 'Magnolia Sky', sans-serif;
     font-size: 30px;
     /*margin-top: 120px;*/
     /* text-align: center;*/ 
     color: #fff;
 }
 h3 {
     font-family: 'Magnolia Sky', sans-serif;
     font-size: 20px;
     /*margin-top: 120px;*/
     /* text-align: center;*/ 
     color: #fff;
 }
 
 
 #top {
     position: inherit;
     top: 0px;
     left: 0px;
     margin: -10px -10px 0px -10px;
     padding: 10px;
     border: 0px;
     background: #cca776;
     height: 150px;
     }
 
 #left {
     position: absolute;
     top: 168px;
     left: 0px;
     margin: 0px 0px 0px 0px;
     padding: 15px;
     border: 0px;
     background: #666;
     width: 170px;
     /*height: 100%;*/
     min-height: 200%;
     overflow: hidden;
     }
 
 #middle {
     position: absolute;
     padding: 10px 50px 10px 50px;
     border: 0px;
     /*background: #000;*/
     margin: 0px 200px 0px 192px; 
     margin-top: 0px;
     height: 100%;
     }

 #right {
     position: absolute;
     top: 168px;
     right: 0px; 
     margin: 0px 0px 0px 0px;
     padding: 15px;
     border: 0px;
     background: #666;
     width: 170px;
     height: 100%;
     }
     
   
     body {
      height: 100%;
     font-family: 'Fragment Core', sans-serif;
     color: #ffffff;
     /*background-color: #202020;
     background: -webkit-linear-gradient(#badde0, #fadcda); /* For Safari 5.1 to 6.0 */
   /* background: -o-linear-gradient(#badde0, #fadcda); /* For Opera 11.1 to 12.0 */
   /* background: -moz-linear-gradient(#badde0, #fadcda); /* For Firefox 3.6 to 15 */
   /* background: linear-gradient(#badde0, #fadcda); /* Standard syntax (must be last) */
    /*background-repeat:repeat;*/
      
    background:#f8f8f8;
    background-image:url('http://assets.tumblr.com/images/x.gif?v=1');
    
    
    background: -webkit-linear-gradient(#badde0, #fadcda);  
    background: -o-linear-gradient(#badde0, #fadcda);  
    background: -moz-linear-gradient(#badde0, #fadcda);  
    background: linear-gradient(#badde0, #fadcda);
    
    
    background-attachment:fixed;
    background-repeat:repeat;
    padding:0;
    margin:0;
    
}
     
}
    table {
        border-collapse: collapse;
        table-layout: fixed;
        width:750px;
        border-color: transparent;
        border-bottom-color: white;
    
    }
    table td {
        border:solid 1px #fab;
        max-width: 500px;
        word-wrap: break-word;
        overflow: hidden;
        border-bottom-color: white;
        border-left-color: transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        padding: 5px;
        
    }

     
     
     a {
         text-decoration: none;
         font-weight: bold;
         color:  #ccc;
         outline: none;
         }
     a:visited {
         color:  #ccc;
         }
     a:active {
         color:  #ccc;
         }
     a:hover {
         color: #ccc;
         text-decoration: underline;
         }